name: CI

on: [push]

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Test install on Ubuntu
      run: |
        chmod +x ./install-linux.sh
        VANTA_KEY=FAKEKEY ./install-linux.sh
    - name: Check that it's running correctly
      run: vanta-cli status

  build-macos:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: Test install on macOS
      run: |
        chmod +x ./install-macos.sh
        VANTA_KEY=FAKEKEY ./install-macos.sh
    - name: Check that it's running correctly
      run: vanta-cli status

  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Test install on Windows
      shell: cmd
      run: |
        install-vanta.bat fakekey name@example.com
    - name: Check that the directory exists
      shell: cmd
      run: |
        dir C:\ProgramData\Vanta
